<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mysql" >

    <select id="getTableInfos" resultType="Map">
        SELECT  TABLE_NAME TAB_NAME
                , '' TAB_COMMENT
                , ORDINAL_POSITION COL_ID
                , COLUMN_NAME COL_NAME
                , '' COL_COMMENT
                , DATA_TYPE DATA_TYPE
                , CAST(COLUMN_TYPE AS CHAR(30)) COL_TYPE
                , IS_NULLABLE NULLABLE
                , COLUMN_KEY COL_KEY
        FROM 	information_schema.COLUMNS COL
        WHERE 	col.table_schema = 'handsome'
        ORDER BY COL.TABLE_NAME, COL.COLUMN_NAME
    </select>

</mapper>