<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mysql" >

    <select id="getTableInfos" resultType="Map">
        SELECT  TABLE_NAME TAB_NAME
                , '' TAB_COMMENT
                , ORDINAL_POSITION COL_ID
                , COLUMN_NAME COL_NAME
                , '' COL_COMMENT
                , DATA_TYPE DATA_TYPE
                , CAST(COLUMN_TYPE AS CHAR(30)) COL_TYPE
                , IS_NULLABLE NULLABLE
                , COLUMN_KEY COL_KEY
        FROM 	information_schema.COLUMNS COL
        WHERE 	col.table_schema = 'handsome'
        ORDER BY COL.TABLE_NAME, COL.COLUMN_NAME
    </select>

<!--    특정 테이블에 데이터 존재 유무 체크 0:없음 1:있음-->
    <select id="getDataExists" resultType="Integer" parameterType="HashMap">
        SELECT EXISTS (SELECT 1 FROM ${tabName} LIMIT 1) AS isDataYn
    </select>


    <select id="getTableDeployInfos" resultType="Map" >
        SELECT 	y.TableName TAB_NAME
        , MAX(ct.ItemJNDIName) JNDI_NAME
        , GROUP_CONCAT(ct.InternalCode ORDER BY ct.InternalCode) MODEL_NAMES
        FROM 	ydeployments Y
        , composedtypes ct
        WHERE 	1=1
        AND 	(y.name = REPLACE(ct.ItemJNDIName, 'de.hybris.platform.persistence.', '')
        OR y.name = REPLACE(ct.ItemJNDIName, 'de.hybris.platform.persistence.link.', '')
        OR y.name = REPLACE(ct.ItemJNDIName, 'de.hybris.platform.persistence.type.', '')
        )
        AND 	y.tablename IS NOT NULL
        GROUP BY y.TableName
    </select>

</mapper>